.conteudo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
    font-size: 16px;
}

.respostas {
    width: 300px;
}

.cabecalho {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 15px
}

h1 {
    text-align: center;
}
